body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.8;
  margin: 0;
  color: #222;
}

section {
  padding: 20px;
  text-align: center;
}


.btn:hover {
  opacity: 0.8;
}

.worries {
  border-top: 1px solid #faf8f8;
  background-color: #f7f7f7;
  padding: 80px 20px;
}

.fv {
   min-height: 50vh;
  background: #faf9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fv-inner {
  text-align: center;
  margin: 5px.0;

}

.btn {
  font-size: 30px;
}


.fv h1 {
  font-size: 40px;
  margin: 5px.0;
}

.fv p {
  font-size: 25px;
  margin-bottom: 24px;
}

.btn {
  display: inline-block;
  padding: 30px 60px;
  background: #f57e7e;
  color: #f0ebeb;
  text-decoration: none;
  border-radius: 100px;
}
.worries {
  background: #fffefe;
  padding: 200px 20px;
  text-align: center;
}


.worries h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.worries ul {
  list-style: none;
  padding: 0;
}

.worries li {
  font-size: 20px;
  margin-bottom: 10px;
}
.solution {
  background: #fffdfd;
  padding: 80px 20px;
  text-align: center;
}

.solution h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.solution-items {
  max-width: 800px;
  margin: 0 auto;
}

.solution .item {
  margin-bottom: 25px;
}

.solution h3 {
  font-size: px;
  margin-bottom: 10px;
}

.solution p {
  font-size: 20px;
  color: #555;
}

.results {
  padding: 80px 20px;
  text-align: center;
}

.results h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.results .note {
  font-size: 25px;
  color: #777;
  margin-bottom: 30px;
}


.result-box {
  display: flex;
  justify-content: center;
  gap: 30px;
font-size:30px ;


}


.result-box div {
  width: 140px;
  height: 180px;
  background: #fffefe;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.price {
  padding: 80px 20px;
  background: #fffdfd;
  text-align: center;
}

.price h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.price ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.price li {
  font-size: 20px;
  margin-bottom: 8px;
}

.price-note {
  font-size: 20px;
  color: #555;
}

.cta-last {
  padding: 80px 20px;
  text-align: center;
}

.cta-last h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.cta-last p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  display: block;
  width: fit-content; /* ボタン幅を文字に合わせる */
  margin: 30px auto 0; /* 上に余白・左右中央 */
margin-bottom: 40px;

}

.big {
  font-size: 20spx !important;
}
